[Unit]
Description=MeshCore network topology discovery
After=network-online.target

[Service]
#User=
#Group=
Type=oneshot
WorkingDirectory=/home/staszek/meshcore-optimizer
ExecStart=/home/staszek/meshcore-optimizer/run_discovery.sh
TimeoutStartSec=1800
# Restart on failure with a delay (e.g. radio busy)
Restart=on-failure
RestartSec=300
# Max 2 retries
StartLimitBurst=2
StartLimitIntervalSec=3600

[Install]
WantedBy=default.target
