[Unit]
Description=MeshCore network topology discovery
After=network-online.target

[Service]
#User=
#Group=
Type=oneshot
WorkingDirectory=/home/user/meshcore-optimizer
ExecStart=/home/user/meshcore-optimizer/run_discovery.sh
TimeoutStartSec=infinity
Restart=no

[Install]
WantedBy=default.target
